@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url("../public/assets/fonts/CircularStd-Regular.eot");
  src: url("../public/assets/fonts/CircularStd-Regular.woff") format("woff"),
    url("../public/assets/fonts/CircularStd-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/CircularStd-Regular.ttf") format("truetype"),
    url("../public/assets/fonts/CircularStd-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../public/assets/fonts/CircularStd-Medium.woff");
  src: url("../public/assets/fonts/CircularStd-Medium.woff") format("woff"),
    url("../public/assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../public/assets/fonts/CircularStd-Medium.ttf") format("truetype"),
    url("../public/assets/fonts/CircularStd-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../public/assets/fonts/CircularStd-Bold.eot");
  src: url("../public/assets/fonts/CircularStd-Bold.woff") format("woff"),
    url("../public/assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("../public/assets/fonts/CircularStd-Bold.ttf") format("truetype"),
    url("../public/assets/fonts/CircularStd-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "Circular Std" !important;
}

/* styles.css or global.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}